@font-face {
    font-family: tanker;
    src: url(../fonts/Tanker-Regular.ttf);
}

@font-face {
    font-family: noto;
    src: url(../fonts/NotoSans-Regular.ttf);
}

@font-face {
    font-family: noto;
    src: url(../fonts/NotoSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: noto;
    src: url(../fonts/NotoSans-Bold.ttf);
    font-weight: bold;
}

:root {
    --container-max-width: 960px;
    --color-main: #7500AC;
    --color-main-dark: #350D4E;
    --color-light: #FFFFFF;
    --color-light-secondary: rgba(255, 255, 255, 0.7);
    --gradient-light: rgba(117, 0, 172, 0.83);
    --gradient-dark: rgba(53, 13, 78, 0.85);
}

* {
    box-sizing: border-box;
}

body {
    font-family: noto;
    color: var(--color-main-dark);
}

img {
    display: block;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
}

span {
    display: inline-block;
}


/* ------------------------------------------
                   FLEX
---------------------------------------------*/

.flex,
.flex-center {
    display: flex;
    flex-flow: row wrap;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

/* ------------------------------------------
                  HEADER
---------------------------------------------*/

.header {
    position: relative;
    width: 100%;
    gap: 24px;
    aspect-ratio: 16 / 10;
    background: linear-gradient(var(--gradient-light), var(--gradient-dark)), url(../img/bg.png);
    background-size: cover;
}

@supports not (aspect-ratio: 16 / 10) {
    .header {
        height: 220px;
    }
}

.header-container { gap: 16px; }

.header-avatar {
    width: 25vw;
    max-width: 100px;
    height: auto;
}

.header-name { margin-top: 2px; }

.networks {
    position: absolute;
    top: 0;
    right: 0;
}

.network-link {
    width: 44px;
    height: 48px;
    padding: 14px;
}

.network-link svg {
    fill: var(--color-light-secondary);
}

.network-link:hover > *,
.network-link:focus > * {
    fill: var(--color-light);
}


/* ------------------------------------------
                  PROJECTS
---------------------------------------------*/

.projects {
    margin: 7vw;
    max-width: var(--container-max-width);
}

.projects-title { margin-top: 8px; }

.projects-description { margin-top: 16px; }

.projects-list {
    display: grid;
    margin-top: 7vw;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


/* ------------------------------------------
                  CARDS
---------------------------------------------*/

.card {
    --card-margin: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
}

.card-image-container {
    position: relative;
    aspect-ratio: 16 / 11;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: 100%;
}

.card-dark-div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 1;
}

.project-icons {
    position: absolute;
    bottom: 0;
    left: 0;
    gap: 8px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0 40px 0 0;
    padding: 4px 16px 4px 8px;
}

.project-icons > li {
    width: 34px;
}

.project-icons img {
    width: 100%;
    height: auto;
}

.card-title {
    margin: var(--card-margin) var(--card-margin) 0;
    padding: 4px 0;
}

.card-about {
    margin: 8px var(--card-margin) var(--card-margin);
}

.card-buttons {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr;
    margin: var(--card-margin);
}

.button-code,
.button-page {
    text-align: center;
    border-radius: 8px;
    gap: 4px;
}

.button-code {
    color: var(--color-main);
    border: 2px solid var(--color-main);
    height: 42px;
}

.button-page {
    background-color: var(--color-main);
    color: var(--color-light);
    height: 44px;
}

.button-icon {
    width: 18px;
    height: auto;
    fill: var(--color-main);
}


/* ------------------------------------------
                  FOOTER
---------------------------------------------*/

.footer {
    background-color: grey;
    width: 100%;
    height: 200px;
}


/* ------------------------------------------
                  TYPOGRAPHY
---------------------------------------------*/

p {
    line-height: 1.45;
}

.header-name,
.projects-title,
.card-title {
    font-family: tanker;
    font-weight: 400;
}

.header-name {
    color: var(--color-light);
    font-size: 7vw;
}

.header-occupation {
    color: var(--color-light-secondary);
    font-size: 4vw;
}

.projects-title { font-size: 24px; }

.projects-description { font-size: 16px; }

.card-title {
    font-size: 20px;
    letter-spacing: 0.5px;
}

.button-code,
.button-page,
.card-about { font-size: 14px; }

.button-code,
.button-page { font-weight: 700; }


/*========================================================
                      MEDIA QUERIES
=========================================================*/


@media (hover) {
    .card {
        transition: 500ms;
    }
    
    .card:hover,
    .card:focus-within {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    .card-image { 
        transition: transform 500ms ease;
    }
    
    .card:hover .card-image,
    .card:focus-within .card-image {
        transform: scale(1.05);
    }
    
    .card-dark-div {
        opacity: 0;
        transition: opacity 500ms ease;
    }
    
    .card:hover .card-dark-div,
    .card:focus-within .card-dark-div {
        opacity: 1;
    }
    
    .project-icons {
        transform: translateY(100%);
        transition: transform 500ms ease;
    }
    
    .card:hover .project-icons,
    .card:focus-within .project-icons {
        transform: translateY(0);
    }
}

@media (min-width: 460px) {

    .header-container { gap: 24px; }

    /* Typography */

    .header-name { font-size: 32px; }
    
    .header-occupation { font-size: 18px; }

}

@media (min-width: 768px) {

    .header { height: 500px; }

    .header-container { gap: 28px; }

    .header-avatar { max-width: 140px; }

    .header-occupation { margin-top: 2px; }

    .networks {
        top: 16px;
        right: 16px;
        gap: 8px;
    }

    .network-link {
        width: 48px;
        height: 48px;
        padding: 12px;
    }

    .projects { margin: 64px; }

    .projects-list { margin-top: 64px; }

    .projects-title { margin-top: 0; }
    
    .projects-description { margin-top: 24px; }

    /* Typography */

    .header-name { font-size: 42px; }
    
    .header-occupation { font-size: 20px; }

    .projects-title { font-size: 28px; }

}

@media (min-width: 1024px) {

    .header-container { gap: 32px; }

    .header-avatar { max-width: 164px; }

    .header-name { margin-top: 4px; }

    .projects { margin: 88px; }

    .projects-list { margin-top: 88px; }

    .projects-description { margin-top: 24px; }

    /* Typography */

    .header-name { font-size: 50px; }
    
    .header-occupation { font-size: 24px; }

    .projects-title { font-size: 34px; }
    
    .projects-description {
        font-size: 18px;
        line-height: 1.6;
    }

}

@media (min-width: 2500px) {
    .header {
        width: var(--container-max-width);
        margin: 40px auto 0;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
    }
}